body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: #ffdab9;
   /* PeachPuff background */
   margin: 20px;
}

h1 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #4169e1;
   /* RoyalBlue header */
   text-align: center;
   font-size: 24px;
}

h2 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #8b4513;
   /* SaddleBrown subheader */
   font-size: 18px;
   text-align: center;
}

h4 {
   font-size: 16px;
}

p {
   color: #ff0000;
   /* Red text */
   line-height: 1.5;
   text-align: center;
}

.info {
   color: white;
   background-color: black;
}

.piano {
   font-size: 12px;
}

.moon {
   text-decoration: underline;
}

a {
   text-decoration: none;
   color: #8b4513
}

img {
   display: block;
   margin: 0 auto;
}


.center {
   text-align: center;
}

.center ol,
.center ul,
.center dl {
   display: inline-block;
   text-align: left;

}

footer {
   background-color: #4169e1;
   color: white;
   padding: 12px;
   margin-top: 20px;
   align-items: center;
   border-radius: 15px;
}

footer p {
   color: white;
   font-size: 12px;
   margin-bottom: 30px;

}

footer a {
   color: white
}

span {
   font-size: 10px;
   text-align: center;
   margin: 0 auto;
}

.square,
.rectangle {
   width: 100px;
   /* Adjust width as needed */
   height: 100px;
   /* Adjust height as needed */
   background-color: blue;
   /* Any color you like */
   margin: 0 auto;
}

.rectangle {
   width: 200px;
   /* Adjust width for rectangles */
   margin: 0 auto;
   background-color: pink;
}



.circle {
   width: 150px;
   /* Diameter of the circle */
   height: 150px;
   /* Diameter of the circle */
   padding-right: 30px;
   padding-top: 20px;
   border-radius: 50%;
   /* Makes the div a circle */
   background-color: red;
   /* Any color you like */
   margin: 0 auto;
   border-width: 10px;
   border-color: blue !important;
   margin-top: 70px;
   border: 20px solid blue;
}

.circle p {
   color: white;
}

.circle img {
   color: white;
}

.triangle {
   width: 0;
   height: 0;
   border-left: 50px solid transparent;
   /* Adjust size as needed */
   border-right: 50px solid transparent;
   /* Adjust size as needed */
   border-bottom: 100px solid green;
   /* Adjust size and color as needed */
   margin: 0 auto;
}


/* Styling our existing content into sections */

.title-section,
.intro,
.profile {
   background-color: #fbf5eb;
   padding: 15px;
   margin-top: 10px;
   border-radius: 15px;


}

.intro {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.profile {
   background-color: cornsilk;
  
   box-shadow: 0px 0px 10px 5px #00000030;
}

.profile h4 {
   text-align: center;
   margin: 0 auto;
}


#meetme {

   background-image: url('test3.jpg');
   color: white;
}

.flexbox-lists {

   display: flex;
   flex-wrap: wrap;

   gap: 20px;
}

.flexbox-lists>div {
   flex: 1 1 calc(33.33% - 20px);
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease-in-out;
 
}

.flexbox-lists>div:hover {
   transform: translateY(-5px);
}

.flexbox-lists h3 {
   font-size: 18px;
   margin-bottom: 10px;
   color: #333;
   text-align: center;
}

.flexbox-lists p {
   font-family: 'AndikaNewBasicRegular';
   font-size: 14px;
   color: #666;
}

.flexbox-lists ul, .flexbox-lists ol, .flexbox-lists dl {
   margin-top: 10px;
   padding-left: 0;
   list-style: none;
   text-align: center;
}

.flexbox-lists ul li::before {
   content: "\2022"; /* Bullet point character */
   color: #666;
   font-weight: bold;
   display: inline-block;
   width: 1em;
   margin-left: -1em;
   
}

.flexbox-lists ol li {
   counter-increment: my-counter;
}

.flexbox-lists ol li::before {
   content: counter(my-counter) ". ";
   color: #666;
   font-weight: bold;
}

.flexbox-lists p {
   font-family: 'AndikaNewBasicRegular';
   text-align: center;
   color: grey;
}

/* For mobile screens */
@media screen and (max-width: 768px) {
   .flexbox-lists {
      display: block;
   }

   .flexbox-lists>div {
      width: 100%;
      margin-bottom: 20px;
   }
}

/* END OF CSS CARDS */

.grid-container {
   display: grid;
   grid-template-rows: auto auto auto 1fr;
   gap: 10px;

}

.title-section {
   grid-column: 1 / span 4;
   grid-row: 1;
}

.intro {
   grid-column: 1 / span 2;
   grid-row: 2;
}

.profile {
   grid-column: 3 / span 2;
   grid-row: 2;
}

.flexbox-lists {
   grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 1;
   grid-column-end: 5;
}

footer {
   width: 100%;
   grid-column: 1 / -1;
   text-align: center;
}

/* Designin the Header and Navigation */
header {
   background-color: #333;
   padding: 20px 0;
   border-radius: 15px;
}

.header-container {
   display: flex;
   flex-direction: column;
   /* Vertical stacking of the items */
   align-items: flex-start;
   /* Align items to the start (left)  of the container */


}

.logo {
   display: flex;
   align-items: flex-start;
   vertical-align: center;
}

.logo img {
   max-width: 40%;
}

header h1 {
   color: #8dd7ed;
   padding-top: 15px;
}

nav ul {
   list-style: none;
   padding: 0 20px;
   margin: 0;
   display: flex;
}

nav ul li {
   display: inline;
   margin: 1px;
   padding: 12px;
   font-size: 12px;

}

nav ul li a:hover {
   background-color: #8c8989;
   padding: 10px;
   border-radius: 8px;
   color: #8dd7ed;
}

nav ul li a {
   color: whitesmoke;
}

/* Dropdown styles */
nav ul li {
   position: relative;
   /* Needed for positioning the dropdown */
   display: inline-block;
   /* Use inline-block for positioning */
   margin: 0;
}

nav ul li ul.sub-menu {
   display: none;
   position: absolute;
   top: 100%;
   /* Position the submenu below the parent */
   left: 0;
   background-color: #444;
   padding: 10px 0;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul.sub-menu {
   display: block;
}

nav ul li ul.sub-menu li {
   display: block;
   list-style: none !important;
   margin: 5px 0;
}

nav ul li ul.sub-menu a {
   padding: 8px 20px;
   font-size: 14px;
   color: #fff;
   text-decoration: none;
}

/* FORM STYLING */
form {
   max-width: 300px;
   margin: 0 auto;
}

form input[type="text"],
form textarea,
form input[type="submit"],
input[type="password"] {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
}

form textarea {
   resize: vertical;
}

form input[type="submit"] {
   background-color: #6e726e;
   color: white;
   border: none;
   cursor: pointer;
}

form input[type="submit"]:hover {
   background-color: #4CAF50;
}

/* TABLE styling */

#table {margin-bottom: 80%;
color: black;}


table {

border-collapse: collapse;
font-size: 16px;
color: black;
font-family: roboto;
margin: 90px;
padding: 20px;
display: inline-flex;


}

th, td {
   border: 1px solid black;
padding: 20px;

}

/* STYLING THE MOBILE VIEW */
@media screen and (max-width:768px) {

   .header-container {align-items: left;
   margin-left: 30px;
   }

 nav ul {flex-direction: column;
padding: 0;}


nav ul li {display: flex;
margin: 5px 0;
text-align: left; }

nav ul li ul.sub-menu {
   position: static;
   display: none;
}

   .logo {display: flex;
   align-items: flex-start;
flex-direction: row;}

.logo img {max-width: 30%;
align-self: flex-start;
margin-top: 8px;
padding-right:20px;}

   .flexbox-lists {display: block; }
   .intro, .profile {display: none;}

   body {font-size:80%;}

}

/* Ending mobile design */

/* Starting the CSS Cards */






